.visnames text {
  font-family: "Avenir", sans-serif!important;
  color:#000034!important;
}

#mapwrapper {
  /* font-family: "Avenir", sans-serif;
  color:#000034; */
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 0;
  /* background-color: transparent; */
  min-width: 220px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
#mapbase svg {
  max-height: 100%;
  width: 100%;
  margin: 0;
  -webkit-filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.2) ); 
    filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.2) );
}
#obesity-usjstip {
  /* font-size: 100%; */
  font-family: "Avenir", sans-serif;
  color:#000034;
  display: none;
  max-width: 40%;
  padding: 5px;
  z-index: 1000;
  float: left;
  position: absolute;
  background: rgba(265, 265, 265, 0.9);
  word-break: keep-all;
  box-shadow:1px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:1px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:1px 2px 4px rgba(0, 0, 0, 0.5);
}
#obesity-usjstip p {
  margin: 0!important;
  color: #000034!important;
}
#obesity-usjstip img {
  float: left;
  padding: 3px;
  max-width: 70%;
}

#fastfood-usjstip {
  /* font-size: 100%; */
  font-family: "Avenir", sans-serif;
  color:#000034;
  display: none;
  max-width: 40%;
  padding: 5px;
  z-index: 1000;
  float: left;
  position: absolute;
  background: rgba(265, 265, 265, 0.9);
  word-break: keep-all;
  box-shadow:1px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:1px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:1px 2px 4px rgba(0, 0, 0, 0.5);
}
#fastfood-usjstip p {
  margin: 0!important;
  color: #000034!important;
}
#fastfood-usjstip img {
  float: left;
  padding: 3px;
  max-width: 70%;
}

@media screen and (max-width: 320px){
  #mapbase svg {
    height:140px;
  }
}
@media screen and (max-width: 400px) and (min-width: 321px) {
  #mapbase svg {
    height:180px;
  }
}
@media screen and (max-width: 480px) and (min-width: 401px) {
  #mapbase svg {
    height:250px;
  }
}
@media screen and (max-width: 568px) and (min-width: 481px) {
  #mapbase svg {
    height:290px;
  }
}
@media screen and (max-width: 685px) and (min-width: 569px) {
  #mapbase svg {
    height:340px;
  }
}
@media screen and (max-width: 767px) and (min-width: 686px) {
  #mapbase svg {
    height:420px;
  }
}
@media screen and (min-width: 768px) {
  #mapbase svg {
    height:470px;
  }
}

/* Legend Styling */
.my-legend{
  padding-left: 90px;
}
.my-legend .legend-title {
  text-align: left;
  margin-bottom: 10px;
  }
.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  float: left;
  list-style: none;
  }
.my-legend .legend-scale ul li {
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 5px;
  }
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  }
.my-legend .legend-source {
  clear: both;
  float: left;
  }
.my-legend a {
  color: #004080;
  }
.my-legend {
  max-width: 1500px !important;
  max-height: 10000px !important;
  }


